includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    paths:
      - lib
      - tests
    polluteScopeWithLoopInitialAssignments: true
    reportMaybesInPropertyPhpDocTypes: false

    ignoreErrors:
      - '#Variable method call on Doctrine\\RST\\Nodes\\DocumentNode\.#'
      -
        message: '#Only booleans are allowed in a ternary operator condition, string given\.#'
        path: lib/Span/SpanProcessor.php
      -
        message: '#Only booleans are allowed in an if condition, string given\.#'
        path: lib/Span/SpanProcessor.php
