<div class="alert {{ name }}-admonition {% if name in ['tip'] %}bg-success text-light{% endif %} border {{ class }}">
    <table width="100%">
        <tr>
            <td width="10" class="align-top">{% if name in ['tip'] %}<i class="fas fa-question-circle mr-2"></i>{% endif %}</td>
            <td>
                |||
            </td>
        </tr>
    </table>
</div>